APS EDA Project
By: Eric Cheung,

Topic: Airline Passenger Satisfaction


Description: Analyze the factors influencing customer satisfaction for airlines through the use of extensive data.

Data source comes from Kaggle.comï¼š 
https://www.kaggle.com/datasets/teejmahal20/airline-passenger-satisfaction/data?select=train.csv

#APS EDA Project

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import pandas as pd
import numpy as np
sns.set(color_codes=True) #overide matplot libs ugly colours.
mpl.rcParams['figure.figsize'] = [13, 8] #default figure size , by pixels

In [4]:
#import data 
df = pd.read_csv('./AirlinePassengerSatisfaction.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Unnamed: 0                           103904 non-null  int64
 1   id                                   103904 non-null  int64
 2   Gender                               103904 non-null  object
 3   Customer_Type                        103904 non-null  object
 4   Age                                  103904 non-null  int64
 5   Travel_Type                          103904 non-null  object
 6   Class                                103904 non-null  object
 7   Flight_Distance                      103904 non-null  int64
 8   Inflight wifi service                103904 non-null  int64
 9   Departure & Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking               103904 non-null  int64
 11  Gate location                        103904 non-null  int64
 12  Food and drink                       103904 non-null  int64
 13  Online boarding                      103904 non-null  int64
 14  Seat comfort                         103904 non-null  int64
 15  Inflight entertainment               103904 non-null  int64
 16  On-board service                     103904 non-null  int64
 17  Leg room service                     103904 non-null  int64
 18  Baggage handling                     103904 non-null  int64
 19  Checkin service                      103904 non-null  int64
 20  Inflight service                     103904 non-null  int64
 21  Cleanliness                          103904 non-null  int64
 22  Departure Delay in Minutes           103904 non-null  int64
 23  Arrival Delay in Minutes             103594 non-null  float64
 24  satisfaction                         103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

In [5]:
df.isnull().any()

Unnamed: 0                             False
id                                     False
Gender                                 False
Customer_Type                          False
Age                                    False
Travel_Type                            False
Class                                  False
Flight_Distance                        False
Inflight wifi service                  False
Departure & Arrival time convenient    False
Ease of Online booking                 False
Gate location                          False
Food and drink                         False
Online boarding                        False
Seat comfort                           False
Inflight entertainment                 False
On-board service                       False
Leg room service                       False
Baggage handling                       False
Checkin service                        False
Inflight service                       False
Cleanliness                            False
Departure Delay in Minutes             False
Arrival Delay in Minutes                True
satisfaction                           False
dtype: bool

In [6]:
df.head(10)

,Unnamed: 0,id,Gender,Customer_Type,Age,Travel_Type,Class,Flight_Distance,Inflight wifi service,Departure & Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
5,5,111157,Female,Loyal Customer,26,Personal Travel,Eco,1180,3,4,...,1,3,4,4,4,4,1,0,0.0,neutral or dissatisfied
6,6,82113,Male,Loyal Customer,47,Personal Travel,Eco,1276,2,4,...,2,3,3,4,3,5,2,9,23.0,neutral or dissatisfied
7,7,96462,Female,Loyal Customer,52,Business travel,Business,2035,4,3,...,5,5,5,5,4,5,4,4,0.0,satisfied
8,8,79485,Female,Loyal Customer,41,Business travel,Business,853,1,2,...,1,1,2,1,4,1,2,0,0.0,neutral or dissatisfied
9,9,65725,Male,disloyal Customer,20,Business travel,Eco,1061,3,3,...,2,2,3,4,4,3,2,0,0.0,neutral or dissatisfied

In [7]:
df.describe()

,Unnamed: 0,id,Age,Flight_Distance,Inflight wifi service,Departure & Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103594.000000
mean,51951.500000,64924.210502,39.379706,1189.448375,2.729683,3.060296,2.756901,2.976883,3.202129,3.250375,3.439396,3.358158,3.382363,3.351055,3.631833,3.304290,3.640428,3.286351,14.815618,15.178678
std,29994.645522,37463.812252,15.114964,997.147281,1.327829,1.525075,1.398929,1.277621,1.329533,1.349509,1.319088,1.332991,1.288354,1.315605,1.180903,1.265396,1.175663,1.312273,38.230901,38.698682
min,0.000000,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25975.750000,32533.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,51951.500000,64856.500000,40.000000,843.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,77927.250000,97368.250000,51.000000,1743.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,103903.000000,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [8]:
df.isnull()

,Unnamed: 0,id,Gender,Customer_Type,Age,Travel_Type,Class,Flight_Distance,Inflight wifi service,Departure & Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
103900,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
103901,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
103902,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
103903,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False