APS EDA Project
By: Eric Cheung,

Topic: Airline Passenger Satisfaction


Description: Analyze the factors influencing customer satisfaction for airlines through the use of extensive data.

Data source comes from Kaggle.comï¼š 
https://www.kaggle.com/datasets/teejmahal20/airline-passenger-satisfaction/data?select=train.csv

#APS EDA Project

In [68]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [69]:
#import data 
df = pd.read_csv('./AirlinePassengerSatisfaction.csv')

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 22 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   id                                   103904 non-null  int64
 1   Gender                               103904 non-null  object
 2   Customer_Type                        103904 non-null  object
 3   Age                                  103904 non-null  int64
 4   Travel_Type                          103904 non-null  object
 5   Class_Type                           103904 non-null  object
 6   Flight_Distance                      103904 non-null  int64
 7   Wifi_Service                         103904 non-null  int64
 8   Departure & Arrival time convenient  103904 non-null  int64
 9   Online_Booking                       103904 non-null  int64
 10  Gate_location                        103904 non-null  int64
 11  Food_drink                           103904 non-null  int64
 12  Online_boarding                      103904 non-null  int64
 13  Seat_comfort                         103904 non-null  int64
 14  Inflight_entertainment               103904 non-null  int64
 15  Onboard_Service                      103904 non-null  int64
 16  Checkin_service                      103904 non-null  int64
 17  Inflight service                     103904 non-null  int64
 18  Cleanliness                          103904 non-null  int64
 19  Departure Delay in Minutes           103904 non-null  int64
 20  Arrival_DelayTime                    103594 non-null  float64
 21  Satisfaction                         103904 non-null  object
dtypes: float64(1), int64(16), object(5)
memory usage: 17.4+ MB

In [64]:
df.isnull().any()

id                                     False
Gender                                 False
Customer_Type                          False
Age                                    False
Travel_Type                            False
Class_Type                             False
Flight_Distance                        False
Wifi_Service                           False
Departure & Arrival time convenient    False
Online_Booking                         False
Gate_location                          False
Food_drink                             False
Online_boarding                        False
Seat_comfort                           False
Inflight_entertainment                 False
Onboard_Service                        False
Checkin_service                        False
Inflight service                       False
Cleanliness                            False
Departure Delay in Minutes             False
Arrival_DelayTime                       True
Satisfaction                           False
dtype: bool

In [71]:
df.head()

,id,Gender,Customer_Type,Age,Travel_Type,Class_Type,Flight_Distance,Wifi_Service,Departure & Arrival time convenient,Online_Booking,...,Online_boarding,Seat_comfort,Inflight_entertainment,Onboard_Service,Checkin_service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival_DelayTime,Satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,3,5,5,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,3,1,1,1,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,5,5,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,2,2,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,5,5,3,3,3,3,3,0,0.0,satisfied

In [72]:
df.describe()

,id,Age,Flight_Distance,Wifi_Service,Departure & Arrival time convenient,Online_Booking,Gate_location,Food_drink,Online_boarding,Seat_comfort,Inflight_entertainment,Onboard_Service,Checkin_service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival_DelayTime
count,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103594.000000
mean,64924.210502,39.379706,1189.448375,2.729683,3.060296,2.756901,2.976883,3.202129,3.250375,3.439396,3.358158,3.382363,3.304290,3.640428,3.286351,14.815618,15.178678
std,37463.812252,15.114964,997.147281,1.327829,1.525075,1.398929,1.277621,1.329533,1.349509,1.319088,1.332991,1.288354,1.265396,1.175663,1.312273,38.230901,38.698682
min,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32533.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,64856.500000,40.000000,843.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,97368.250000,51.000000,1743.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [73]:
df.isnull()

,id,Gender,Customer_Type,Age,Travel_Type,Class_Type,Flight_Distance,Wifi_Service,Departure & Arrival time convenient,Online_Booking,...,Online_boarding,Seat_comfort,Inflight_entertainment,Onboard_Service,Checkin_service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival_DelayTime,Satisfaction
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
103900,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
103901,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
103902,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
103903,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [74]:
df.loc[df['Gender'] == 'Male']

,id,Gender,Customer_Type,Age,Travel_Type,Class_Type,Flight_Distance,Wifi_Service,Departure & Arrival time convenient,Online_Booking,...,Online_boarding,Seat_comfort,Inflight_entertainment,Onboard_Service,Checkin_service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival_DelayTime,Satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,3,5,5,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,3,1,1,1,1,4,1,1,6.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,5,5,3,3,3,3,3,0,0.0,satisfied
6,82113,Male,Loyal Customer,47,Personal Travel,Eco,1276,2,4,2,...,2,2,2,3,3,5,2,9,23.0,neutral or dissatisfied
9,65725,Male,disloyal Customer,20,Business travel,Eco,1061,3,3,3,...,3,3,2,2,4,3,2,0,0.0,neutral or dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103896,71445,Male,Loyal Customer,57,Business travel,Eco,867,4,5,5,...,4,4,4,3,1,3,4,0,0.0,neutral or dissatisfied
103898,60666,Male,Loyal Customer,50,Personal Travel,Eco,1620,3,1,3,...,3,2,2,4,2,4,2,0,0.0,neutral or dissatisfied
103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,...,4,5,5,5,5,5,4,0,0.0,satisfied
103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,...,1,5,4,3,5,5,4,7,14.0,neutral or dissatisfied
103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,...,1,1,1,1,4,3,1,0,0.0,neutral or dissatisfied

In [75]:
df.isna().sum()
# Arrival Delay in Minutes    310

id                                       0
Gender                                   0
Customer_Type                            0
Age                                      0
Travel_Type                              0
Class_Type                               0
Flight_Distance                          0
Wifi_Service                             0
Departure & Arrival time convenient      0
Online_Booking                           0
Gate_location                            0
Food_drink                               0
Online_boarding                          0
Seat_comfort                             0
Inflight_entertainment                   0
Onboard_Service                          0
Checkin_service                          0
Inflight service                         0
Cleanliness                              0
Departure Delay in Minutes               0
Arrival_DelayTime                      310
Satisfaction                             0
dtype: int64

In [67]:
df.dropna(inplace = True)

In [76]:
data.drop_duplicates(inplace=True)

In [77]:
data.columns

Index(['id', 'Gender', 'Customer_Type', 'Age', 'Travel_Type', 'Class_Type',
       'Flight_Distance', 'Wifi_Service',
       'Departure & Arrival time convenient', 'Online_Booking',
       'Gate_location', 'Food_drink', 'Online_boarding', 'Seat_comfort',
       'Inflight_entertainment', 'Onboard_Service', 'Checkin_service',
       'Inflight service', 'Cleanliness', 'Departure Delay in Minutes',
       'Arrival_DelayTime', 'Satisfaction'],
      dtype='object')

In [79]:
columns_to_extract = ['id', 'Gender', 'Customer_Type', 'Age', 'Travel_Type', 'Class_Type',
       'Flight_Distance', 'Wifi_Service',
       'Departure & Arrival time convenient', 'Online_Booking',
       'Gate_location', 'Food_drink', 'Online_boarding', 'Seat_comfort',
       'Inflight_entertainment', 'Onboard_Service', 'Checkin_service',
       'Inflight service', 'Cleanliness']

satisfaction_service = data[columns_to_extract]

In [80]:
satisfaction_service

,id,Gender,Customer_Type,Age,Travel_Type,Class_Type,Flight_Distance,Wifi_Service,Departure & Arrival time convenient,Online_Booking,Gate_location,Food_drink,Online_boarding,Seat_comfort,Inflight_entertainment,Onboard_Service,Checkin_service,Inflight service,Cleanliness
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,4,5,5
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,1,4,1
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,4,4,5
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,1,4,2
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,3,2,2,2,2,3,2,3,2
103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,4,2,4,5,5,5,5,5,4
103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,3,4,1,5,4,3,5,5,4
103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,5,1,1,1,1,4,5,4,1
103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,3,1,1,1,1,1,4,3,1

In [81]:
satisfaction_service = satisfaction_service.astype('category')

In [82]:
satisfaction_service.describe(exclude = np.number)

,id,Gender,Customer_Type,Age,Travel_Type,Class_Type,Flight_Distance,Wifi_Service,Departure & Arrival time convenient,Online_Booking,Gate_location,Food_drink,Online_boarding,Seat_comfort,Inflight_entertainment,Onboard_Service,Checkin_service,Inflight service,Cleanliness
count,103904,103904,103904,103904,103904,103904,103904,103904,103904,103904,103904,103904,103904,103904,103904,103904,103904,103904,103904
unique,103904,2,2,75,2,3,3802,6,6,6,6,6,6,6,6,6,6,6,6
top,1,Female,Loyal Customer,39,Business travel,Business,337,3,4,3,3,4,4,4,4,4,4,4,4
freq,1,52727,84923,2969,71655,49665,660,25868,25546,24449,28577,24359,30762,31765,29423,30867,29055,37945,27179

In [83]:
import math
def count_plots_services(dataframe):
    num_cols = 14
    num_rows = math.ceil(num_cols / 2)  

    fig, axes = plt.subplots(nrows=num_rows, ncols=2, figsize=(16, 4 * num_rows))
    axes = axes.flatten()
    categorical_columns = dataframe.select_dtypes(include=['object', 'category']).columns
    for i, column in enumerate(categorical_columns):
        sns.countplot(data=dataframe, x=column, order=dataframe[column].value_counts().index, palette='bone_r', ax=axes[i])
        axes[i].set_title(f'Count Plot for {column}')
    plt.tight_layout()
    plt.show()

In [86]:
count_plots_services(satisfaction_service)

KeyboardInterrupt:

In [1]:
fig, ax = plt.subplots(figsize=(5, 5))
colors = ['#ffeaea', '#b26b6b']
plt.pie(data['satisfaction'].value_counts(),labels= data['satisfaction'].value_counts().index, colors=colors, autopct='%1.1f%%', startangle=140)
plt.axis('equal')
plt.title('satisfaction', loc='center')

NameError: name 'plt' is not defined

In [ ]:
Text(0.5, 1.0, 'satisfaction')